<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"     

  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

 

  </head>

  <body>
	<form method="post" action = "poi/registrar/">
	<table>
		<tr><th><label for="id_form-0-nombre">Nombre:</label></th><td><input id="id_form-0-nombre" type="text" name="nombre" maxlength="70" /></td></tr>
		<tr><th><label for="id_form-0-descripcion">Descripcion:</label></th><td><input id="descripcion" type="text" name="descripcion" maxlength="250" /></td></tr>
		<tr><th><label for="id_form-0-telefono">Telefono:</label></th><td><input id="telefono" type="text" name="telefono" maxlength="10" /></td></tr>
		<tr><th><label for="id_form-0-paginaWeb">PaginaWeb:</label></th><td><input id="paginaWeb" type="text" name="paginaWeb" maxlength="80" /></td></tr>
		<tr><th><label for="id_form-0-nombre">latitud:</label></th><td><input id="latitud" type="text" name="latitud" maxlength="70" /></td></tr>
		<tr><th><label for="id_form-0-nombre">longitud:</label></th><td><input id="longitud" type="text" name="longitud" maxlength="70" /></td>
		<tr><th><label for="id_form-0-nombre">altitud:</label></th><td><input id="altitud" type="text" name="altitud" maxlength="70" /></td>
		
<tr><td><button type = "submit">Registrar</button></td></tr>
	</table>
</form>
  </body>

</html>
