<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"     

  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

 

  </head>

  <body>
	<form method="post" action = "http://127.0.0.1:8000/geoAdds/pdi/actualizar/">
	<table>
		<tr><th><label>Usuario</label></th><td><input id="usuario" type="text" name="usuario"/></td></tr>
		<tr><th><label>id PDI</label></th><td><input id="idPDI" type="text" name="idPDI"/></td></tr>
		
		<tr><th><label>Descripcion</label></th><td><input id="descripcion" type="text" name="descripcion"/></td></tr>
		<tr><th><label>Direccion</label></th><td><input type="text" name="direccion" id="direccion"/></td></tr>
		<tr><th><label>Telefono</label></th><td><input id="telefono" type="text" name="telefono"/></td></tr>
		<tr><th><label>PaginaWeb</label></th><td><input id="paginaWeb" type="text" name="paginaWeb"/></td></tr>
		<tr><th><label>Correo del sitio</label></th><td><input type="text" name="email" id="email"/></td></tr>
		
		<tr><td><button type = "submit">Registrar</button></td></tr>
	</table>
	</form>
  </body>
</html>
