<html>
<head>
</head>
<body>
	<div><p>Se pueden eliminar categorias por nombre o id, si se introducen los dos parametros, se usara por prioridad el id</p></div>
	<form method="POST" action="http://127.0.0.1:8000/geoAdds/categoria/eliminar/">
		<table>			
			<tr><td><label>id</label></td><td><input type="text" id="idCategoria" name="idCategoria"/></td></tr>
			<tr><td><label>Nombre</label></td><td><input type="text" id="nombreCategoria" name="nombreCategoria"/></td>
			</tr>
			<tr><td><button type = "submit">Registrar</button></td>
			</tr>
		</table>	
	</form>
</body>
</html>