<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Title of document</title>
</head>

<body>
	<form  method="POST" action = "http://127.0.0.1:8000/geoAdds/usuario/listafavoritos/"> 
		<table>
			<tr>
				<td><label>Usuario</label><input type="text" name="usuario"/></td>
			</tr>
			<tr>
			<td><input type="submit" value="Submit"/></td>
			</tr>
		</table>
		
	</form>
</body>

</html>