<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"     

  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

 

  </head>

  <body>
	<form method="post" action = "http://127.0.0.1:8000/geoAdds/pdi/registrar/">
	<table>
		<tr><th><label>Usuario</label></th><td><input id="usuario" type="text" name="usuario"/></td></tr>
		<tr><th><label>Nombre del pdi</label></th><td><input id="nombre" type="text" name="nombre"/></td></tr>
		<tr><th><label>Categoria</label></th><td><input id="categoria" type="text" name="categoria"/></td></tr>
		<tr><th><label>latitud:</label></th><td><input id="latitud" type="text" name="latitud"/></td></tr>
		<tr><th><label>longitud:</label></th><td><input id="longitud" type="text" name="longitud"/></td></tr>
		<tr><th><label>altitud</label></th><td><input type="text" id='altitud' name='altitud'/></td></tr>		
		<tr><td><button type = "submit">Registrar</button></td></tr>
	</table>
	</form>
  </body>
</html>
