<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Title of document</title>
</head>

<body>
	<form  method="POST" action = "http://127.0.0.1:8000/geoAdds/favorito/marcar/"> 
		idPDI: <input type="text" name="idPDI"><br>
		correo_e: <input type="text" name="correo_e"><br>
		marcado: <input type="text" name="marcado"><br>

		<input type="submit" value="Submit">
	</form>
</body>

</html>
