<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Title of document</title>
</head>

<body>
	<form  method="POST" action = "http://127.0.0.1:8000/geoAdds/usuario/actualizar/"> 
		correo: <input type="text" name="correo"><br>
		contraseña: <input type="text" name="contrasenia"><br>
        	nombre: <input type="text" name="nombre"><br>
		apellido: <input type="text" name="apellido"><br>
		URLimagen: <input type="text" name="URLimagen"><br>
		edad: <input type="text" name="edad"><br>
		genero: <input type="text" name="genero"><br>
		<input type="submit" value="Submit">
	</form>
</body>

</html>
