<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Title of document</title>
</head>

<body>
	<form  method="POST" action = "http://127.0.0.1:8000/geoAdds/anuncio/registrar/"> 
		idPDI: <input type="text" name="idPDI"><br>
		idUser: <input type="text" name="correo_e"><br>
		titulo: <input type="text" name="titulo"><br>
        	descripcion: <input type="text" name="descripcion"><br>
		categoria: <input type="text" name="categoria"><br>
		URLimagen: <input type="text" name="URLimagen">
		<input type="submit" value="Submit">
	</form>
</body>

</html>
